// To get started, press Ctrl+Space (or Option+Esc) to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

// Remove the default storage partition
/delete-node/ &storage_partition;

// I2C Configuration
&i2c0 {
    
    // RGB LED
    rgbled: rgbled@53{
        compatible = "i2c-device";
        reg = < 0x53 >;
        label = "RGBled";
    };

    // PMIC
    bq25120a: bq25120a@6a{
        compatible = "i2c-device";
        reg = < 0x6A >;
        label = "BQ25120A";
    };

};

// PMIC Control
/ {
    gpio_keys {
        pmiccd: pmiccd{
            label = "PMICCD";
            gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };
    };
};

/*
littlefs
*/
// Mounting Info
/ {
	fstab {
		compatible = "zephyr,fstab";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/lfs1";
			partition = <&logging_partition>;
            automount;
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <512>;
		};
	};
};

// Specify external flash
/ {
	chosen {
		nordic,pm-ext-flash = &mx25r1635f;
	};
};

// Partition for external flash
&logging_partition {
    label = "storage";
    reg = < 0x00000000 0x00190200 >;
};

&mx25r1635f {
    partitions {
        mcb_sc: partition@190200 {
            label = "mcuboot_sc";
            reg = < 0x190200 0x6FE00 >;
        };
    };
};



/*
SPI for Bosch Sensortech
*/
// Adding an SPI device
&spi2 {
    // 26 - Flash; 31 - Bosch
    cs-gpios = <&gpio0 26 GPIO_ACTIVE_LOW>, 
                <&gpio0 31 GPIO_ACTIVE_LOW>;

    bhi260ap: bhi260ap@1{
        compatible = "spi-device";
        reg = <1>;
        spi-max-frequency = < 16000000 >;
    };
};

// Interrupt control from BHI260AP
/ {
    gpio_keys {
        bhi_int: bhi_int{
            label = "BHIINT";
            gpios = <&gpio0 14 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };

        bhi_reset: bhi_reset{
            label = "BHI_RESET";
            gpios = < &gpio0 18 GPIO_ACTIVE_HIGH>;
        };
    };
};
