// To get started, press Ctrl+Space (or Option+Esc) to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

// RGB Led on I2C
&i2c0 {
    
    rgbled: rgbled@53{
        compatible = "i2c-device";
        reg = < 0x53 >;
        label = "RGBled";
    };

    bq25120a: bq25120a@6a{
        compatible = "i2c-device";
        reg = < 0x6A >;
        label = "BQ25120A";
    };

};

/ {
    gpio_keys {
        pmiccd: pmiccd{
            label = "PMICCD";
            gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
            status = "okay";
        };
    };
};


